html
    title ATN Teenagers toys company
    link(rel="stylesheet", href="/css/mystyle.css",type="text/css")
    script(src="/scripts/myscripts.js")
    body
        
        a(class="active" href="/")
            div(class="header" )
                h1 A T N
        
        div(class="topnav")
            a(class="active" href="/" ) Home
            a(href="/about") About
            a(href="#") Contact
            a(href="#") Cart
            a(href="/form") Login

            
        div(class="sidebar")
            ul 
                li  
                    a(href="#") Toys
                li    
                    a(href="#") Baby Room
                li
                    a(href="#") Outdoor
                li
                    a(href="#") Gaming  
                li
                    a(href="#") Gift   
           
        div(class ="row")
            div(class ="main") 
                h1 ATN teenages toys company
                p ATN is a Vietnamese company which is selling toys to teenagers in many provinces all over Vietnam.
                br 
                p The company has the revenue over 700.000 dollars/year.
                br
                p Currently each shop has its own database to store transactions for that shop only.
                br
                p Each shop has to send the sale data to the board director monthly and the board director need lots of time to summarize the data collected from all the shops.
                br 
                p Besides the board can’t see the stock information update in real time.