html
    title ATN Teenagers toys company
    link(rel="stylesheet", href="/css/mystyle.css",type="text/css")
    script(src="/scripts/myscripts.js")
    body
        
        a(class="active" href="/")
            div(class="header" )
                h1 A T N
        
        div(class="topnav")
            a(class="active" href="/" ) Home
            a(href="/about") About
            a(href="#") Contact
            a(href="#") Cart
            a(href="/form") Login

            
        div(class="sidebar")
            ul 
                li  
                    a(href="#") Toys
                li    
                    a(href="#") Baby Room
                li
                    a(href="#") Outdoor
                li
                    a(href="#") Gaming  
                li
                    a(href="#") Gift   

        div(class ="row")
            div(class ="main") 
                Head