html
    title ATN Teenagers toys company
    link(rel="stylesheet", href="/css/mystyle.css",type="text/css")
    script(src="/scripts/myscripts.js")
    body
        
        a(class="active" href="/")
            div(class="header" )
                h1 A T N
        
        div(class="topnav")
            a(class="active" href="/" ) Home
            a(href="/about") About
            a(href="#") Contact
            a(href="#") Cart
            a(href="/form") Login

            
        div(class="sidebar")
            ul 
                li  
                    a(href="#") Toys
                li    
                    a(href="#") Baby Room
                li
                    a(href="#") Outdoor
                li
                    a(href="#") Gaming  
                li
                    a(href="#") Gift   
           
        div(class ="row")
            div(class ="main") 
                div(class="card")
                    h1 
                        a(href="#") 
                            img(src="/images/3x3x3.jpeg", width ="240px", height = "240px")

                    div(class="price") 333$
                    p   3x3x3
                        button Add to cart
        
                div(class="card")
                    h1 
                        a(href="#")
                            img(src="/images/pyramid.jpg", width ="240px", height = "240px")

                    div(class="price") 123$
                    p   Pyramid
                        button Add to cart       

                div(class="card")
                    h1 
                        a(href="#")
                            img(src="/images/fisher.jpg", width ="240px", height = "240px")

                    div(class="price") 555$
                    p   Fisher
                        button Add to cart  

                div(class="card")
                    h1 
                        a(href="#")
                            img(src="/images/windmill.jpg", width ="240px", height = "240px")

                    div(class="price") 345$
                    p   Windmill
                        button Add to cart  

                div(class="card")
                    h1 
                        a(href="#")
                            img(src="/images/mastermorphix.jpg", width ="240px", height = "240px")

                    div(class="price") 777$
                    p   Mastermorphix
                        button Add to cart  

                div(class="card")
                    h1 
                        a(href="#")
                            img(src="/images/mirror.jpg", width ="240px", height = "240px")

                    div(class="price") 444$
                    p   Mirror
                        button Add to cart  

                div(class="card")
                    h1 
                        a(href="#")
                            img(src="/images/2x2x2.jpg", width ="240px", height = "240px")

                    div(class="price") 222$
                    p   2x2x2
                        button Add to cart 

                div(class="card")
                    h1 
                        a(href="#")
                            img(src="/images/4x4x4.jpg", width ="240px", height = "240px")

                    div(class="price") 444$
                    p   4x4x4
                        button Add to cart 

                div(class="card")
                    h1 
                        a(href="#")
                            img(src="/images/megaminx.jpg", width ="240px", height = "240px")

                    div(class="price") 1212$
                    p   Megaminx
                        button Add to cart 

                div(class="card")
                    h1 
                        a(href="#")
                            img(src="/images/skewb.jpg", width ="240px", height = "240px")

                    div(class="price") 234$
                    p   Skewb
                        button Add to cart 

        div(class="footer") Made by ANHBNTGCH18883

            
        